@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,500&family=Inter:wght@500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Open+Sans:wght@500;600;700&family=Orbitron&family=Roboto:wght@100;300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: Barlow, sans-serif;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  #bad .header--ok {
    margin-left: 472px;
  }
  #bad .header {
    height: 635px;
  }
}
@media (max-width: 1140px) {
  .container {
    width: 90%;
  }
  #bad .header--ok {
    margin-left: 419px;
  }
  #bad .header {
    height: 635px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  #bad .header--ok {
    margin-left: 278px;
  }
  #bad .header--hero h1 {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  #bad .header--ok {
    margin-left: 278px;
  }
  #bad .header--hero h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  #bad .header--ok {
    margin-left: 278px;
  }
  #bad .header--hero h1 {
    font-size: 49px;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  .hamburger-menu {
    display: flex;
    margin-top: 30px;
  }
  #bad .header--ok a {
    display: none;
  }
}
@media (max-width: 579px) {
  #bad .header--hero h1 {
    font-size: 40px;
  }
  #bad .header--hero p {
    font-size: 14px;
  }
}
@media (max-width: 452px) {
  #bad .header--hero h1 {
    font-size: 42px;
    line-height: 54px;
  }
}
#bad {
  background: url("../img/hg.png") no-repeat right center/cover;
  min-height: 100vh;
}
#bad .hamburger-menu {
  display: block;
}
#bad .header {
  position: absolute;
  height: 720px;
  left: 0%;
  right: 0%;
  top: 0;
  background: rgba(52, 52, 52, 0.6);
  border-radius: 0;
}
#bad .header--ok {
  margin-left: 700px;
  display: flex;
  align-items: center;
  padding: 30px 0;
}
#bad .header--ok a {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0 20px;
}
#bad .header--ok__btn button {
  width: 129px;
  height: 54px;
  background: #FF4D01;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
#bad .header--hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}
#bad .header--hero h1 {
  font-weight: 200;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
}
#bad .header--hero p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 50px;
}
#bad .header--hero__bot {
  display: flex;
}
#bad .header--hero__bot--go button {
  width: 129px;
  height: 54px;
  background: #FF4D01;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 50px;
}
#bad .header--hero__bot--so button {
  border: 2px solid #FFFFFF;
  border-radius: 0px;
  width: 180px;
  height: 75px;
  background: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

#about {
  padding: 60px 0;
}
#about .about {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#about .about--block {
  width: 49%;
}
#about .about--block h5 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FF4D01;
}
#about .about--block h1 {
  font-weight: 400;
  font-size: 54px;
  color: #191919;
  padding-top: 20px;
}
#about .about--block p {
  font-weight: 400;
  font-size: 18px;
  color: #605E5D;
  padding-top: 20px;
}
#about .about--block div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 40px 0;
}
#about .about--block div h2 {
  font-weight: 400;
  font-size: 72px;
  color: #191919;
}
#about .about--block button {
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  color: #191919;
  margin-top: 40px;
  border-radius: 10px;
}

#about {
  padding: 60px 0;
}
#about .about {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#about .about--block {
  width: 49%;
}
#about .about--block h5 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FF4D01;
}
#about .about--block h1 {
  font-weight: 400;
  font-size: 54px;
  color: #191919;
  padding-top: 20px;
}
#about .about--block p {
  font-weight: 400;
  font-size: 18px;
  color: #605E5D;
  padding-top: 20px;
}
#about .about--block div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 40px 0;
}
#about .about--block div h2 {
  font-weight: 400;
  font-size: 72px;
  color: #191919;
}
#about .about--block button {
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  color: #191919;
  margin-top: 40px;
  border-radius: 10px;
}

#service .service--to {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}
#service .service--to h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #FF4D01;
}
#service .service--to span {
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #191919;
}
#service .service--to__so {
  display: flex;
}
#service .service--to__so--go button {
  width: 129px;
  height: 54px;
  background: #FF4D01;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 20px;
}
#service .service--to__so--no button {
  border: 2px solid #191919;
  border-radius: 0;
  width: 211px;
  height: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #191919;
}
#service .service--me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 0;
}
#service .service--me__do h1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
  color: #191919;
  margin-top: 40px;
  padding-bottom: 30px;
}
#service .service--me__do p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #605E5D;
  padding-bottom: 30px;
}
#service .service--me__do--my {
  display: flex;
  align-items: center;
}
#service .service--me__do--my__lot {
  background: #191919;
  border-radius: 0px;
  width: 30px;
  height: 30px;
}
#service .service--me__do--my h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #191919;
}

/*# sourceMappingURL=style.css.map */
