@import "global";
@import "media";
#bad{
  background: url("../img/hg.png") no-repeat right center/cover;
  min-height: 100vh;
  .hamburger-menu{
    display: block;
  }


  .header{
    position: absolute;
    height: 720px;
    left: 0%;
    right: 0%;
    top: 0;
    background: rgba(52, 52, 52, 0.6);
    border-radius: 0;
    &--ok{
     margin-left: 700px;
      display: flex;
      align-items: center;
      padding:30px 0;
      a{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        margin: 0 20px;
      }
      &__btn button{
        width: 129px;
        height: 54px;
        background: #FF4D01;
        border:none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
      }
    }
    &--hero{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 60px;
      h1{
        font-weight: 200;
        font-size: 72px;
        line-height: 84px;
        text-align: center;
        color: #FFFFFF;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 50px;
      }
      &__bot{
        display: flex;
     &--go{
       button{
         @include btn();
         margin: 0 50px;
       }
     }
        &--so button{
          border: 2px solid #FFFFFF;
          border-radius: 0px;
          width: 180px;
          height: 75px;
          background: none;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }

  }
}

#about{
  padding: 60px 0;
  .about{
    display: flex;
    justify-content: space-between;
    align-items: start;
    &--block{
      width: 49%;
      h5{
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FF4D01;
      }
      h1{
        font-weight: 400;
        font-size: 54px;
        color: #191919;
        padding-top: 20px;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        color: #605E5D;
        padding-top: 20px;
      }
      div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 40px 0;
        h2{
          font-weight: 400;
          font-size: 72px;
          color: #191919;
        }
      }
      button{
        padding: 15px 20px;
        border: 1px solid rgba(0, 0, 0, 0.87);
        background: transparent;
        font-weight: 400;
        font-size: 18px;
        color: #191919;
        margin-top: 40px;
        border-radius: 10px;
      }
    }
  }
}

#service{
  .service{
    &--to{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 80px;
      h2{
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #FF4D01;

      }
      span{
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #191919;
      }
      &__so{
        display: flex;
        &--go button{
          @include btn();
          margin: 0 20px;
        }
        &--no button{
          border: 2px solid #191919;
          border-radius: 0;
          width: 211px;
          height: 54px;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          color: #191919;
        }
      }
    }
    &--me{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 90px 0;

      &__do{
        h1{
          font-weight: 400;
          font-size: 34px;
          line-height: 48px;
          color: #191919;
          margin-top: 40px;
          padding-bottom: 30px;
        }
        p{
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #605E5D;
          padding-bottom: 30px;
        }
        &--my{
          display: flex;
          align-items: center;
         &__lot{
           background: #191919;
           border-radius: 0px;
           width: 30px;
           height: 30px;
         }
          h2{
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            color: #191919;
          }
        }

      }

    }
  }
}

#trigger{
  background: url("../img/tiggerbg.png") no-repeat center/cover;
  min-height: 70vh;
  .trigger{
    display: flex;
    align-items: center;
    width: 100%;
    &--block{
      width: 60%;
      margin-left: 10%;
      h1{
        font-weight: 400;
        font-size: 54px;
        color: #191919;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        color: #605E5D;
        padding-top: 20px;
      }
      &__btn{
        margin-top: 20px;
        &--button{
          padding: 15px 20px;
          border: none;
          background: #FF4D01;
          font-weight: 400;
          font-size: 18px;
          color: #191919;
          margin-top: 40px;
        }
        &--button1{
          padding: 15px 20px;
          border: 1px solid rgba(0, 0, 0, 0.87);
          background: transparent;
          font-weight: 400;
          font-size: 18px;
          color: #191919;
          margin-top: 40px;
          margin-left: 10px;
        }
      }
    }
  }
}